# nicedates.rc (proposed) 
# version ?.?.?

# to switch nicedates on/ off use command nice-on or nice-off
nicedates=on

# nicedates is enabled by adding to your .taskrc
#   include ~/.task/config/nicedates.rc
# and deactivated by removing/ commenting out that line
#
#====================================
# from man taskrc;
#
#       This is a string of characters that defines how Taskwarrior formats date values.  The precedence order for the configuration variable is report.X.dateformat then  datefor‐
#       mat.report  then  dateformat for formatting the due dates in reports.  If both report.X.dateformat and dateformat.report are not set then dateformat will be applied to the
#       date. Entered dates as well as all other displayed dates in reports are formatted according to dateformat.
#
#       The default value is the ISO-8601 standard: Y-M-D. The string can contain the characters:
#
#              m  minimal-digit month,    for example 1 or 12
#              d  minimal-digit day,      for example 1 or 30
#              y  two-digit year,         for example 09 or 12
#              D  two-digit day,          for example 01 or 30
#              M  two-digit month,        for example 01 or 12
#              Y  four-digit year,        for example 2009 or 2015
#              a  short name of weekday,  for example Mon or Wed
#              A  long name of weekday,   for example Monday or Wednesday
#              b  short name of month,    for example Jan or Aug
#              B  long name of month,     for example January or August
#              v  minimal-digit week,     for example 3 or 37
#              V  two-digit week,         for example 03 or 37
#              h  minimal-digit hour,     for example 3 or 21
#              n  minimal-digit minutes,  for example 5 or 42
#              s  minimal-digit seconds,  for example 7 or 47
#              H  two-digit hour,         for example 03 or 21
#              N  two-digit minutes,      for example 05 or 42
#              S  two-digit seconds,      for example 07 or 47
#              J  three-digit Julian day, for example 023 or 365
#              j  Julian day,             for example 23 or 365
#              w  Week day,               for example 0 for Monday, 5 for Friday
#
#       The characters 'v', 'V', 'a' and 'A' can only be used for formatting printed dates (not to parse them).
#
#       The string may also contain other characters to act as spacers, or formatting.  Examples for other values of dateformat:
#
#              d/m/Y  would use for input and output 24/7/2009
#                   yMD    would use for input and output 090724
#                   M-D-Y  would use for input and output 07-24-2009
#
#=========================================
#   global values
# Un-comment and modify to override taskwarrior defaults.
# These values will be used when nicedates is off (nice-off)
# and for reports that are de-selected 
# (see nice.reports= setting below)
#
#  DATES
#dateformat=Y-M-D
#
#dateformat.report=
#
#dateformat.holiday=YMD
#
#dateformat.edit=Y-M-D H:N:S
#
#dateformat.info=Y-M-D H:N:S
#
#dateformat.annotation=
#
# (set format for specified reports)
#report.X.dateformat=Y-M-D
#
#
#
#===========================================

nice.format.present=Yesterday,Today,Tomorrow
nice.format.week=A
nice.format.month=bm
nice.format.year='y
nice.format.time=h:N
nice.conceal-times=00:00:00,23:59:59
nice.reports=any,-info,-all,-latest







